button {
    background-color: #317b8c; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave */
}

button:hover {
    background-color: #4c97a8; /* Color de fondo al pasar el mouse */
}