<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="../static/css/admin/appbar.css">
    <link rel="stylesheet" href="../static/css/admin/buttons.css">
    <link rel="stylesheet" href="../static/css/admin/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="appbar">
        <div class="menu-lateral">
            <button class="menu-hamburguesa" onclick="toggleMenu()">&#9776;</button>
        </div>
        <h2 class="titulo" id="header-title">
            Información General
        </h2>
        <div class="acciones">
            <img src="../static/img/admin.png" alt="Usuario" class="usuario-icono" id="usuario-icono">
            <button onclick="cerrarSesion()">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
        <div class="menu-desplegable" id="menuDesplegable">
            <div class="cerrar-menu" onclick="cerrarMenu()">
                <i class="fas fa-times"></i>
            </div>
            <img id="usuario-foto" src="../static/img/admin.png" alt="Foto de Usuario" class="usuario-icono">
            <label id="usuario-nombre">Invitado</label>
            <label class="logout" onclick="cerrarSesion()">Cerrar Sesión</label>
        </div>
    </header>
    <div class="container">
        <main>
            <section id="user-management">
                <h3>Gestión de Usuarios</h3>
                <button onclick="window.location.href='admin_users.html'">Gestionar Usuarios</button>
            </section>
            
            <section id="product-management">
                <h3>Gestión de Productos</h3>
                <button onclick="window.location.href='admin_prod.html'">Gestionar Productos</button>
            </section>
        </main>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const nombreUsuario = localStorage.getItem('nombreUsuario');
            const fotoPerfil = localStorage.getItem('fotoPerfil');

            if (nombreUsuario) {
                document.getElementById('usuario-nombre').textContent = nombreUsuario;
                document.getElementById('usuario-foto').src = fotoPerfil;
                document.getElementById('usuario-icono').src = fotoPerfil;
            } else {
                document.getElementById('usuario-nombre').textContent = 'Invitado';
                document.getElementById('usuario-foto').src = '../static/img/admin.png';
                document.getElementById('usuario-icono').src = '../static/img/admin.png';
            }
        });

        // Función para cerrar sesión
        function cerrarSesion() {
            localStorage.removeItem('nombreUsuario');
            localStorage.removeItem('fotoPerfil');
            localStorage.removeItem('token');
            localStorage.clear();
            window.location.href = 'login.html';
        }
        // Función para cerrar el menú
    function cerrarMenu() {
        const menu = document.getElementById('menuDesplegable');
        menu.classList.remove('show'); // Quitar la clase que muestra el menú
        setTimeout(() => {
            menu.style.display = 'none'; // Ocultar el menú después de la animación
        }, 300); // Esperar el tiempo de la animación
    }

    // Función para mostrar el menú
    function toggleMenu() {
        const menu = document.getElementById('menuDesplegable');
        if (menu.style.display === 'block') {
            cerrarMenu();
        } else {
            menu.style.display = 'block';
            setTimeout(() => {
                menu.classList.add('show');
            }, 10);
        }
    }
    </script>
</body>
</html>