<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo Principal</title>
    <link rel="stylesheet" href="../static/css/catalog/shop-style.css">
    <link rel="stylesheet" href="../static/css/catalog/header-back.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="appbar">
        <div class="menu-lateral">
            <button class="menu-hamburguesa" onclick="toggleMenu()">&#9776;</button>
        </div>
        <h2 class="titulo">Catálogo de Productos</h2>
        <div class="acciones">
            <button>
                <i class="fas fa-shopping-cart"></i>
            </button>
            <button>
                <img src="../static/img/invitado.png" alt="Usuario" class="usuario-icono" id="usuario-icono">
            </button>
            <button onclick="cerrarSesion()">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
        <div class="menu-desplegable" id="menuDesplegable">
            <div class="cerrar-menu" onclick="cerrarMenu()">
                <i class="fas fa-times"></i>
            </div>
            <img id="usuario-foto" src="../static/img/invitado.png" alt="Foto de Usuario" class="usuario-icono" id="fotoPerfil">
            <label id="usuario-nombre">Invitado</label>
            <label class="carrito">Ver Carrito de Compras</label>
            <label class="logout" onclick="cerrarSesion()">Cerrar Sesión</label>
        </div>
    </header>
    <div class="catalogo" id="catalogo"></div>
    <script src="../static/js/products.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const nombreUsuario = localStorage.getItem('nombreUsuario');
            const fotoPerfil = localStorage.getItem('fotoPerfil');

            if (nombreUsuario) {
                document.getElementById('usuario-nombre').textContent = nombreUsuario;
                document.getElementById('usuario-foto').src = fotoPerfil;
                document.getElementById('usuario-icono').src = fotoPerfil;
            } else {
                document.getElementById('usuario-nombre').textContent = 'Invitado';
                document.getElementById('usuario-foto').src = '../static/img/invitado.png';
                document.getElementById('usuario-icono').src = '../static/img/invitado.png';
            }
        });

        function cerrarSesion() {
            localStorage.removeItem('nombreUsuario');
            localStorage.removeItem('fotoPerfil');
            localStorage.removeItem('token');
            localStorage.clear();
            window.location.href = 'login.html';
        }
    </script>
</body>
</html>