<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del Producto</title>
    <link rel="stylesheet" href="../static/css/product/background.css">
    <link rel="stylesheet" href="../static/css/product/container.css">
    <link rel="stylesheet" href="../static/css/product/details.css">
    <link rel="stylesheet" href="../static/css/product/appbar.css">
    <link rel="stylesheet" href="../static/css/product/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="../static/js/details.js" defer></script>
</head>
<body>
    <header class="appbar">
        <div class="menu-lateral">
            <button class="menu-hamburguesa" onclick="toggleMenu()">&#9776;</button>
        </div>
        <h2 class="titulo" id="header-title">
            Información General
        </h2>
        <div class="acciones">
            <button onclick="abrirCarrito()">
                <i class="fas fa-shopping-cart"></i>
            </button>
            <button onclick="window.location.href='catalog.html'" style="margin-left: 10px;">
                <i class="fas fa-home"></i> <!-- Ícono de casa -->
            </button>
            <img src="../static/img/invitado.png" alt="Usuario" class="usuario-icono">
            <button onclick="window.location.href='index.html'">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
        <div class="menu-desplegable" id="menuDesplegable">
            <div class="cerrar-menu" onclick="cerrarMenu()">
                <i class="fas fa-times"></i>
            </div>
            <img id="usuario-foto" src="../static/img/invitado.png" alt="Foto de Usuario" class="usuario-icono">
            <label id="usuario-nombre">Invitado</label>
            <label class="carrito">Ver Carrito de Compras</label>
            <label class="logout" onclick="window.location.href='index.html'">Cerrar Sesión</label>
        </div>
    </header>
    
    <div id="product-details"></div>

    <!-- Sidebar del carrito -->
    <div id="sidebar-carrito" class="sidebar">
        <h2>Carrito de Compras</h2>
        <div id="carrito-contenido"></div>
        <button class="comprar">Comprar</button>
        <button class="closebtn" onclick="cerrarCarrito()">Cerrar</button>
    </div>

    <script>
        // Aquí puedes incluir el código JavaScript que ya hemos discutido
    </script>
</body>
</html>