/* Estilos generales para la página de administración de usuarios */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #317b8c;
    color: white;
    padding: 10px;
}

.container {
    margin-top: 20px;
}

h2 {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #317b8c;
    color: white;
}

.actions-container {
    display: flex;
    gap: 10px;
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.8;
}

/* Estilos para los modales */
.modal {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Permitir desplazamiento si es necesario */
    background-color: rgba(0,0,0,0.7); /* Fondo oscuro con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Margen superior e inferior */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 600px; /* Ancho máximo del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}