/* Estilos generales y fondo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #0c192c;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

/* Estilos para el encabezado */
.appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #6588b33c;
    color: #fff;
    width: 100%;
    border-radius: 5px;
}

.appbar .titulo {
    font-size: 18px;
    font-weight: bold;
    margin-left: 3%;
}

.appbar .acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appbar .acciones button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff; /* Color del ícono */
    font-size: 20px;
    justify-content: space-between;
}

.appbar .acciones button:hover {
    background-color: #6588b37f;
}

/* Media query para tabletas (min-width: 768px y max-width: 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .main-container {
        padding: 4%; /* Ajustar el padding para tabletas */
    }

    .appbar .titulo {
        font-size: 26px;
    }

    .appbar .acciones button {
        font-size: 21px;
    }
}

/* Media query para pantallas de 992px o más (PC) */
@media (min-width: 992px) {
    .main-container {
        padding: 5%;
    }

    .appbar{
        margin: 0 5%;
    }

    .appbar .titulo {
        font-size: 24px;
    }

    .appbar .acciones button {
        font-size: 22px; /* Aumentar el tamaño de los botones */
    }
}