.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; /* Limitar el ancho del catálogo */
}

/* Estilos por defecto para móviles */
.producto {
    border: 1% solid #ccc;
    padding: 0.5%; /* Reducido para móviles */
    margin: 1%;
    border-radius: 5%;
    width: 48%;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;
}

.producto a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-size: 14px; /* Reducido tamaño de fuente */
}

.producto a:hover{
    text-decoration: underline;
}

.precio-original {
    text-decoration: line-through;
    color: red;
    font-size: 12px;
}

.precio {
    font-size: 12px; /* Reducido tamaño de fuente */
}

.plataforma {
    font-size: 12px; /* Reducido tamaño de fuente */
}

.contenedor-botones {
    display: flex;
    justify-content: space-between;
}

.contador {
    display: inline-flex;
    align-items: center;
    margin: 5px 0; /* Reducido para móviles */
}

.contador button {
    width: 20px;
    height: 20px;
}

/* Media query para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
    .producto {
        width: 30%; /* 3 tarjetas por fila para tabletas */
    }

    .producto img {
        height: 200px; /* Ajustar la altura de las imágenes para tabletas */
    }

    .contador button {
        width: 30px; /* Ancho ajustado para tabletas */
        height: 30px; /* Alto ajustado para tabletas */
    }
}

/* Media query para pantallas más grandes (opcional) */
@media (min-width: 992px) {
    .producto {
        width: 21%; /* 4 tarjetas por fila para pantallas grandes */
    }
}

/* Estilos para los botones (sin cambios) */
#comprar {
    background-color: green; /* Color de fondo verde */
}

#carrito {
    background-color: rgb(145, 189, 173); /* Color de fondo verde */
}

.contenedor-botones button {
    padding: 5px 10px; /* Reducido padding para móviles */
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #47a99e;
    cursor: pointer;
    font-size: 12px; /* Reducido tamaño de fuente */
}

.contenedor-botones button:hover {
    background-color: #3e8e41;
}

/* Estilos para el contador */
.contador button:last-child {
    background-color: #f44336; /* Color rojo para el botón de basura */
}

.contador button:last-child:hover {
    background-color: #d32f2f; /* Color al pasar el mouse para el botón de basura */
}