.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.producto {
    border: 1% solid #ccc;
    padding: 0.5%;
    margin: 1%;
    border-radius: 5%;
    width: 48%;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;
}

.producto a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.producto a:hover{
    text-decoration: underline;
}

.precio-original {
    text-decoration: line-through;
    color: red;
    font-size: 12px;
}

.precio {
    font-size: 12px;
}

.plataforma {
    font-size: 12px;
}

.contenedor-botones {
    display: flex;
    justify-content: space-between;
}

.contador {
    display: inline-flex;
    align-items: center;
    margin: 5px 0;
}

.contador button {
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .producto {
        width: 30%;
    }

    .producto img {
        height: 200px;
    }

    .contador button {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 992px) {
    .producto {
        width: 21%;
    }
}

#comprar {
    background-color: green;
}

#carrito {
    background-color: rgb(145, 189, 173);
}

.contenedor-botones button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #47a99e;
    cursor: pointer;
    font-size: 12px;
}

.contenedor-botones button:hover {
    background-color: #3e8e41;
}

.contador button:last-child {
    background-color: #f44336;
}

.contador button:last-child:hover {
    background-color: #d32f2f;
}