/* Estilos generales y fondo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #0c192c;
}

.appbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    padding: 1%;
    background-color: #6588b33c;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.appbar .titulo {
    font-size: 18px;
    font-weight: bold;
    margin-left: 3%;
}

.appbar .acciones {
    display: none;
}

.appbar .acciones button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    width: 100%;
}

.appbar .acciones button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-hamburguesa {
    display: block;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.menu-desplegable {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #6588b3f1;
    border-radius: 5px;
    z-index: 1000;
    overflow-y: auto;
    padding: 3%;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-desplegable.show {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.cerrar-menu {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
}

.cerrar-menu i {
    color: #fff;
    font-size: 24px;
}

.menu-desplegable img.usuario-icono {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    align-self: center;
}

.menu-desplegable label {
    display: block;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}

.menu-desplegable label:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
    .appbar {
        flex-direction: row;
        align-items: center;
        padding: 2%;
    }

    .appbar .acciones {
        flex-direction: row;
        width: auto;
    }

    .appbar .titulo {
        font-size: 24px;
    }

    .appbar .acciones button {
        font-size: 22px;
        width: auto;
    }

    .menu-desplegable {
        width: 50%;
    }
}

/* Media query para pantallas de 992px o más (PC) */
@media (min-width: 992px) {
    .main-container {
        padding: 5%;
    }

    .appbar{
        margin: 0 5%;
        display: flex;
        justify-content: space-between;
    }

    .appbar .titulo {
        font-size: 24px;
        margin-left: 1%;
        text-align: left;
        flex-grow: 1;
    }

    .appbar .acciones {
        display: flex;
        gap: 1%;
        margin-right: 2%;
    }

    .appbar .acciones button {
        font-size: 22px;
    }
    .usuario-icono {
        margin: 0 6%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .acciones button {
        background-color: transparent;
        border: none;
        padding: 10px;
        cursor: pointer;
        display: block;
    }

    .appbar .acciones button .usuario-icono {
        display: block;
    }
    
    .appbar .acciones button .fas {
        display: block;
    }
    
    .acciones button:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .menu-hamburguesa {
        display: none;
    }

    .menu-desplegable {
        display: none;
    }
}