.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -600px;
    background-color: #111;
    overflow-y: auto;
    transition: right 0.5s;
    padding: 20px;
    color: white;
}

.sidebar.open {
    right: 0;
}

.closebtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.closebtn:hover {
    background-color: #d32f2f;
}

#carrito-contenido {
    margin-top: 20px;
}


.comprar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.comprar:hover {
    background-color: #45a049;
}