/* Estilos generales para dispositivos móviles */
#product-details {
    max-width: 100%; /* Ancho completo en móviles */
    margin: 10px; /* Margen reducido */
    padding: 10px; /* Relleno reducido */
    border: 1px solid rgba(204, 204, 204, 0.3);
    border-radius: 8px;
    background-color: #ffffff4d;
    box-shadow: 0 5px 5px rgba(217, 217, 217, 0.54);
}

/* Estilos para tabletas */
@media (min-width: 768px) {
    #product-details {
        max-width: 90%; /* Ancho del 90% en tabletas */
        margin: 15px auto; /* Margen centrado */
        padding: 15px; /* Relleno aumentado */
    }
}

/* Estilos para computadoras de escritorio */
@media (min-width: 992px) {
    #product-details {
        max-width: 800px; /* Ancho máximo para PC */
        margin: 20px auto; /* Margen centrado */
        padding: 20px; /* Relleno completo */
    }
}