#product-details {
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(204, 204, 204, 0.3);
    border-radius: 8px;
    background-color: #ffffff4d;
    box-shadow: 0 5px 5px rgba(217, 217, 217, 0.54);
}

@media (min-width: 768px) {
    #product-details {
        max-width: 90%;
        margin: 15px auto;
        padding: 15px;
    }
}


@media (min-width: 992px) {
    #product-details {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
    }
}